<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">TarjetasDeCredito.com</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/admin/dashboard.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/Categorias/">Categorias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/Sellos/">Sellos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/Emisores/">Emisores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/LugaresDePago/">Lugares de pago</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Tarjetas
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/admin/Tarjetas/">List</a></li>
            <li><a class="dropdown-item" href="/admin/LugaresDePagoTarjeta/">Lugar de pago</a></li>
            <li><a class="dropdown-item" href="/admin/CategoriaTarjetas/">Categoria Tarjetas</a></li>
            <li><a class="dropdown-item" href="/admin/Beneficios/">Beneficios</a></li>
            <li><a class="dropdown-item" href="/admin/SistemaDePuntos/">Sistema de puntos</a></li>
            <li><a class="dropdown-item" href="/admin/RequisitosTarjeta/">Requisitos</a></li>
            <li><a class="dropdown-item" href="/admin/SegurosTarjeta/">Seguros</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>